
* {
	
	/*background-color: #f0f;*/
	font-size: 20px;
}






body { 
 
  font-family: Arial, sans-serif;
}
#headerMain {
  width:100%;
  height: 120px;
  margin:0px auto;
  z-index:0;
  display: block;
}
.modal-fade{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
button .minus-item {
  display:block;
}
.img-cart{

  width:30%;
  height:30%;
}
.total-count{
  font-size: 10px;
}
 
#header {
	display:block;
width: 100%;
height: 120px;
overflow: hidden;
position: fixed;
top: 0;
left: 0;
z-index: 999;
background-color: #FFA500;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
transition: height 0.3s;
}
#header .wrap-logo {
  display: inline-block;
  align-items: center;
 height: 120px;
	float : left;
	width: 200px;
	background:  url(../images/logo.png) no-repeat 5% 50%  ;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
transition: all 0.3s;
}

#header nav {
display: inline-block;
float: right;
margin-right: 50px;
}
#header nav a {
line-height: 120px;
margin-left: 20px;
color: #FFFFFF;
font-weight: 700;
font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
transition: all 0.3s;
}
#header nav a:hover {
color: black;
}
#header.smaller {
height: 75px;
}
#header.smaller .wrap-logo {
width: 150px;
height: 75px;
font-size: 30px;
}
#header.smallernav a {
line-height: 75px;
}
@media all and (max-width: 700px) {
    #header .wrap-logo {
display: block;
float: none;
margin: 0 auto;
height: 50px;
line-height: 100px;
text-align: center;
    }
    #header nav {
display: block;
float: none;
height: 50px;
line-height: 50px;

text-align: center;
margin: 0 auto;
    }
    #header nav a {
    	font-size: 18px;
line-height: 50px;
margin: 0 10px;
    }
    #header.smaller {
height: 75px;
    }
    #header.smaller .wrap-logo {
height: 40px;
line-height: 40px;
font-size: 30px;
    }
    #header.smallernav {
height: 35px;
line-height: 35px;
    }
    #header.smallernav a {
line-height: 35px;
}
}
@media all and (max-width: 454px) {
	 #header nav a {
    	font-size: 11px;
    	padding: 1px;
line-height: 50px;
margin: 0 10px;
    }
	}












.category{
	text-align: center;
	display: block;

	 width:100%;
	 float:center;
	 margin-bottom: 20px;
	 margin-top: 20px;

  height: 50px;
 
  background-color: #333333;
 

}

img {
height :100%;
  width: 100%;

}
 h3 {
 	font-size: 15;
  color: #DCDCDC;
}
 a {
 	text-decoration: none;
  padding: 4px;
  font-size: 20px;
  color: #DCDCDC;
}
p {
	font-size: 17px;
  color: #DCDCDC;

}
.category-name {
	line-height: 50px;
	position: relative;
margin-top: 20px;
margin-bottom: 20px;

font-size: 45px;

font-weight: bold;
color:#DCDCDC;

}








